@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


body {
    font-family: Arial, sans-serif;
    background-color: #f5e8e4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    background-color: #f8ebe4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.banner {
    display: flex;
    width: 300px;
    position: relative;

}

.logo {
    width: 300px;
    width: 30%;
    padding: 20px;

}

.logo img {
    width: 100%;
    border-radius: 50%;

}

.info {
    /* width: 380px; */
    /* width: 70%; */
    padding: 20px;  

}
.header{ 
    background-image: url(../img/salao\ de\ beleza.jpg);
    width: 650px;
    position: inherit;
    background-position: center;
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    

}

/* .header::before{ 
    opacity:50%;
    z-index: 2;
    } */



.info ul {
    margin: 0;
    list-style: none;
    color: #333;
}

.info li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #000000;
}

.servicos {
    background-color: #d9a892;
    padding: 20px;
    /* width: 610px; */
}


.servicos ul {
    list-style: none;
    padding: 0;
}

.servicos li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #fff;
}

.agendar {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #d09c85;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.reviews {
    background-color: #c18c7b;
    padding: 20px;
    color: #fff;
}