@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: Arial, sans-serif;
    background-color: #f1d4c4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.telaUsuario {
    display: flex;
    width: 70%;
    max-width: 1200px;
    background-color: #f1d4c4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#Dados {
    width: 60%;
    padding: 20px;
}

#Dados h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cadastro-conteiner form {
    display: flex;
    flex-direction: column;
}

.cadastro-conteiner h4 {
    margin: 10px 0 5px;
}

.cadastro-conteiner input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.botaoSalvar {
    background-color: #9e7e64;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.botaoSalvar:hover {
    background-color: #cc958b;
}

.menu-usuario {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-left: 1px solid #ccc;
}


.botaoEditar, .botaoDeletar, .botaoAgendamentos {
    display: inline-block;
    background-color: #9e7e64;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.botaoEditar:hover, .botaoDeletar:hover, .botaoAgendamentos:hover {
    background-color: #cc958b;
}

.botaoLogout{
    display: inline-block;
    background-color: #7a2222;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}


