body {
    font-family: Arial, sans-serif;
    background-color: #f5e8e4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    background-color: #f8ebe4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    /* grid-template-columns: 1fr 1fr ; */
}

.logo {
    width: 150px;
    /* width: 30%; */
    padding: 20px;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

.info {
    width: 300px;
    /* width: 70%; */
    padding: 20px;
    
}

.info ul {
    margin: 0;
    list-style: none;
    color: #333;
}

.info li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #000000;
}

.servicos {
    background-color: #d9a892;
    padding: 20px;
}

.servicos ul {
    list-style: none;
    padding: 0;
}

.servicos li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #fff;
}

.button-agendar {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #d09c85;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.reviews {
    background-color: #c18c7b;
    padding: 20px;
    color: #fff;
}